.app {
  .sections {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: blue;
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; //Firefox
    &::-webkit-scrollbar {
      display: none;
    }
    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
