@import "../../variables.scss";
.contact {
  background: rgb(231, 223, 221);
  background: linear-gradient(
    0deg,
    rgba(231, 223, 221, 1) 0%,
    rgba(71, 23, 246, 1) 95%
  );
  display: flex;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .right {
    flex: 1;
    display: flex;
    flex-flow: column;
    h1 {
      font-size: 55px;
      border-bottom: 4px solid black;
      display: inline;
    }
    form {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 60vh;
      input {
        width: 350px;
        height: 40px;
        font-size: 15px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        padding: 5px;
      }
      textarea {
        width: 350px;
        height: 200px;
        font-size: 15px;
        margin-top: 20px;
        border-radius: 5px;
        padding: 5px;
        border: none;
      }
      button {
        width: 150px;
        height: 50px;
        background-color: $yellow;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
        transition: all 0.8s ease;
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}
