@import "../../variables.scss";

.navbar {
  width: 100%;
  height: 70px;
  background-color: $dark;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 1s ease;
  .wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .logo {
        font-size: 38px;
        font-weight: 700;
        text-decoration: none;
        color: $yellow;
      }
      .mail-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 20px;
        margin-bottom: 8px;
        color: $yellow;
        font-size: 14px;
      }
    }
    .right {
      .hamburger {
        width: 32px;
        height: 26px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        cursor: pointer;
        > span {
          width: 100%;
          height: 4px;
          background-color: $yellow;
          transform-origin: right;
          transition: all 1s ease;
        }
      }
    }
  }
  &.active {
    background-color: $white;
    .wrapper {
      .left {
        .logo {
          color: $dark;
        }
        .mail-container {
          color: $dark;
        }
      }
      .right {
        .hamburger {
          span {
            &:first-child {
              background-color: $dark;
              transform: rotate(-45deg);
            }
            &:nth-child(2) {
              background-color: transparent;
            }
            &:last-child {
              background-color: $dark;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}
