@import "../../variables.scss";
@import "../../responsivness.scss";

.intro {
  background-color: $dark;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 0.5;
    position: relative;
    .image-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 650px;
      height: 650px;
      position: absolute;
      bottom: 0;
      @include mobile {
        position: relative;
        height: auto;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    @include mobile {
      flex-flow: initial;
      justify-content: center;
    }
    .wrapper {
      display: flex;
      position: relative;
      // left: -50px;
      flex-flow: column;
      justify-self: flex-end;
      justify-content: center;
      align-self: center;
      width: 150%;
      @include mobile {
        left: 0;
        width: auto;
        align-self: start;
      }
      span {
        color: $blue;

        &.hello {
          font-size: 50px;
          font-weight: 700;
        }
        &.name {
          font-size: 80px;
          font-weight: 700;
          color: $yellow;
          @include mobile {
            font-size: 40px;
          }
        }
        &.description {
          font-size: 30px;
          font-weight: 100;
          color: $purple;
          @include mobile {
            font-size: 20px;
          }
          span {
            font-weight: 600;
          }
        }
      }
      .find-me {
        display: flex;
        height: 30px;
        align-items: center;
        color: $white;
        // justify-content: center;

        a {
          position: relative;
          text-decoration: none;
          color: $white;
          margin: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 0;
          > * {
            font-size: 30px;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 0;
      @include mobile {
        bottom: 45px;
      }
      .arrow-down {
        font-size: 60px;
        animation: arrow-blink 2s infinite;
        color: $blue;
      }
      @keyframes arrow-blink {
        25% {
          opacity: 0;
        }
        75% {
          opacity: 1;
        }
      }
    }
  }
}
