@import "../../variables.scss";
.works {
  position: relative;
  background: rgb(71, 23, 246);
  background: linear-gradient(
    0deg,
    rgba(71, 23, 246, 1) 0%,
    rgba(14, 11, 22, 1) 92%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  .arrows {
    position: absolute;
    font-size: 70px;
    cursor: pointer;
    color: $yellow;
  }
  & .arrow-right {
    right: 100px;
  }
  & .arrow-left {
    left: 100px;
  }
  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 35px;
        overflow: hidden;

        .left,
        .right {
          height: 100%;
        }
        .left {
          flex: 2;
          background-color: aqua;
        }
        .right {
          flex: 4;
        }
      }
    }
  }
}
